*.config
FWK-10.4/Fwk_10.4_AnyCPU_debug/Fwk.UnitTest.dll
FWK-10.4/Fwk_10.4_AnyCPU_debug/Fwk.Security.dll
FWK-10.4/Fwk_10.4_AnyCPU_debug/Fwk.Security.XML
FWK-10.4/Fwk_10.4_AnyCPU_debug/Fwk.Security.Service.Test.dll
FWK-10.4/Fwk_10.4_AnyCPU_debug/Fwk.DataBase.dll
FWK-10.4/Fwk_10.4_AnyCPU_debug/Fwk.DataBase.XML
FWK-10.4/Fwk_10.4_AnyCPU_debug/Fwk.Blocking.Test.dll
FWK-10.4/Fwk_10.4_AnyCPU_debug/Fwk.Bases.xml
FWK-10.4/Fwk_10.4_AnyCPU_debug/Fwk.Bases.dll
FWK-10.4/Fwk_10.4_AnyCPU_debug/Fwk.Bases.FrontEnd.dll
FWK-10.4/Fwk_10.4_AnyCPU_debug/Fwk.Bases.Connector.xml
FWK-10.4/Fwk_10.4_AnyCPU_debug/Fwk.Bases.Connector.dll
FWK-10.4/Fwk_10.4_AnyCPU_debug/Fwk.Bases.Connector.XmlSerializers.dll
FWK-10.4/Fwk_10.4_AnyCPU_debug/ConfigurationManager_02.xml
FWK-10.4/Fwk_10.4_AnyCPU_debug/ConfigurationManager_01.xml
FWK-10.4/Fwk_10.4_AnyCPU_debug/ConfigurationManager.xml
FWK-10.4/Fwk_10.4_x64_debug/Fwk.UnitTest.dll
FWK-10.4/Fwk_10.4_x64_debug/Fwk.Security.dll
FWK-10.4/Fwk_10.4_x64_debug/Fwk.Security.Service.Test.dll
FWK-10.4/Fwk_10.4_x64_debug/Fwk.DataBase.dll
FWK-10.4/Fwk_10.4_x64_debug/Fwk.Bases.xml
FWK-10.4/Fwk_10.4_x64_debug/Fwk.Bases.dll
FWK-10.4/Fwk_10.4_x64_debug/Fwk.Bases.FrontEnd.dll
FWK-10.4/Fwk_10.4_x64_debug/Fwk.Bases.Connector.dll
FWK-10.4/Fwk_10.4_x64_debug/ConfigurationManager_02.xml
FWK-10.4/Fwk_10.4_x64_debug/ConfigurationManager_01.xml
FWK-10.4/Fwk_10.4_x64_debug/ConfigurationManager.xml
FWK-10.4/Fwk_10.4_AnyCPU_debug/XmlWhitAttributes.xml
FWK-10.4/Fwk_10.4_AnyCPU_debug/ServiceMetadataConfig.xml
FWK-10.4/Fwk_10.4_AnyCPU_debug/Newtonsoft.Json.dll
FWK-10.4/Fwk_10.4_AnyCPU_debug/Microsoft.Practices.ServiceLocation.dll
FWK-10.4/Fwk_10.4_AnyCPU_debug/Microsoft.Practices.EnterpriseLibrary.Data.dll
FWK-10.4/Fwk_10.4_AnyCPU_debug/Microsoft.Practices.EnterpriseLibrary.Common.dll
FWK-10.4/Fwk_10.4_x64_release/XmlWhitAttributes.xml
FWK-10.4/Fwk_10.4_x64_release/ServiceMetadataConfig.xml
FWK-10.4/Fwk_10.4_x64_release/ConfigurationManager.xml
FWK-10.4/Fwk_10.4_x64_debug/XmlWhitAttributes.xml
FWK-10.4/Fwk_10.4_x64_debug/ServiceMetadataConfig.xml
FWK-10.4/Fwk_10.4_x64_debug/Newtonsoft.Json.dll
FWK-10.4/Fwk_10.4_x64_debug/Microsoft.VisualStudio.DebuggerVisualizers.xml
FWK-10.4/Fwk_10.4_x64_debug/Microsoft.VisualStudio.DebuggerVisualizers.dll
FWK-10.4/Fwk_10.4_x64_debug/Microsoft.Practices.ServiceLocation.dll
FWK-10.4/Fwk_10.4_x64_debug/Microsoft.Practices.EnterpriseLibrary.Data.dll
FWK-10.4/Fwk_10.4_x64_debug/Microsoft.Practices.EnterpriseLibrary.Common.dll
FWK-10.4/Fwk_10.4_x64_release/Newtonsoft.Json.dll
FWK-10.4/Fwk_10.4_x64_release/Microsoft.VisualStudio.DebuggerVisualizers.xml
FWK-10.4/Fwk_10.4_x64_release/Microsoft.VisualStudio.DebuggerVisualizers.dll
FWK-10.4/Fwk_10.4_x64_release/Microsoft.Practices.ServiceLocation.dll
FWK-10.4/Fwk_10.4_x64_release/Microsoft.Practices.EnterpriseLibrary.Data.dll
FWK-10.4/Fwk_10.4_x64_release/Microsoft.Practices.EnterpriseLibrary.Common.dll
FWK-10.4/Fwk_10.4_x64_release/Fwk.Security.dll
FWK-10.4/Fwk_10.4_x64_release/Fwk.DataBase.dll
FWK-10.4/Fwk_10.4_x64_release/Fwk.Bases.xml
FWK-10.4/Fwk_10.4_x64_release/Fwk.Bases.dll
FWK-10.4/Fwk_10.4_x64_release/Fwk.Bases.FrontEnd.dll
FWK-10.4/Fwk_10.4_x64_release/Fwk.Bases.Connector.dll
FWK-10.4/Fwk_10.4_x64_release/Fwk.Bases.Connector.XmlSerializers.dll
FWK-10.4/Fwk_10.4_x64_release/ConfigurationManager_02.xml
FWK-10.4/Fwk_10.4_x64_release/ConfigurationManager_01.xml
FWK-12.0/Fwk_12_x64_release/ServiceMetadataConfig.xml
FWK-12.0/Fwk_12_x64_release/Newtonsoft.Json.dll
FWK-12.0/Fwk_12_x64_release/Microsoft.VisualStudio.DebuggerVisualizers.xml
FWK-12.0/Fwk_12_x64_release/Microsoft.Practices.EnterpriseLibrary.Data.dll
FWK-12.0/Fwk_12_x64_release/Microsoft.Practices.EnterpriseLibrary.Common.dll
FWK-12.0/Fwk_12_x64_release/Fwk.UnitTest.dll
FWK-12.0/Fwk_12_x64_release/Fwk.Security.dll
FWK-12.0/Fwk_12_x64_release/Fwk.Security.Service.Test.dll
FWK-12.0/Fwk_12_x64_release/Fwk.DataBase.dll
FWK-12.0/Fwk_12_x64_release/Fwk.Bases.xml
FWK-12.0/Fwk_12_x64_release/Fwk.Bases.dll
FWK-12.0/Fwk_12_x64_release/Fwk.Bases.FrontEnd.dll
FWK-12.0/Fwk_12_x64_release/Fwk.Bases.Connector.dll
FWK-12.0/Fwk_12_x64_release/Fwk.Bases.Connector.XmlSerializers.dll
FWK-12.0/Fwk_12_x64_release/ConfigurationManager_02.xml
FWK-12.0/Fwk_12_x64_release/ConfigurationManager_01.xml
FWK-12.0/Fwk_12_x64_release/ConfigurationManager.xml
FWK-12.0/Fwk_12_x64_debug/ServiceMetadataConfig.xml
FWK-12.0/Fwk_12_x64_debug/Newtonsoft.Json.dll
FWK-12.0/Fwk_12_x64_debug/Microsoft.Practices.EnterpriseLibrary.Data.dll
FWK-12.0/Fwk_12_x64_debug/Microsoft.Practices.EnterpriseLibrary.Common.dll
FWK-12.0/Fwk_12_x64_debug/Fwk.Security.dll
FWK-12.0/Fwk_12_x64_debug/Fwk.Bases.xml
FWK-12.0/Fwk_12_x64_debug/Fwk.Bases.dll
FWK-12.0/Fwk_12_x64_debug/Fwk.Bases.Connector.dll
FWK-12.0/Fwk_12_AnyCPU_release/ServiceMetadataConfig.xml
FWK-12.0/Fwk_12_AnyCPU_release/Newtonsoft.Json.dll
FWK-12.0/Fwk_12_AnyCPU_release/Microsoft.Practices.EnterpriseLibrary.Data.dll
FWK-12.0/Fwk_12_AnyCPU_release/Microsoft.Practices.EnterpriseLibrary.Common.dll
FWK-12.0/Fwk_12_AnyCPU_release/Fwk.DataBase.dll
FWK-12.0/Fwk_12_AnyCPU_release/Fwk.Bases.dll
FWK-12.0/Fwk_12_AnyCPU_release/Fwk.Bases.XML
FWK-12.0/Fwk_12_AnyCPU_release/Fwk.Bases.FrontEnd.dll
FWK-12.0/Fwk_12_AnyCPU_release/Fwk.Bases.Connector.dll
FWK-12.0/Fwk_12_AnyCPU_release/Fwk.Bases.Connector.XmlSerializers.dll
FWK-12.0/Fwk_12_AnyCPU_debug/ServiceMetadataConfig.xml
FWK-12.0/Fwk_12_AnyCPU_debug/Newtonsoft.Json.dll
FWK-12.0/Fwk_12_AnyCPU_debug/Microsoft.Practices.EnterpriseLibrary.Data.dll
FWK-12.0/Fwk_12_AnyCPU_debug/Microsoft.Practices.EnterpriseLibrary.Common.dll
FWK-12.0/Fwk_12_AnyCPU_debug/Fwk.DataBase.dll
FWK-12.0/Fwk_12_AnyCPU_debug/Fwk.DataBase.XML
FWK-12.0/Fwk_12_AnyCPU_debug/Fwk.Bases.dll
FWK-12.0/Fwk_12_AnyCPU_debug/Fwk.Bases.XML
FWK-12.0/Fwk_12_AnyCPU_debug/Fwk.Bases.FrontEnd.dll
FWK-12.0/Fwk_12_AnyCPU_debug/Fwk.Bases.Connector.xml
FWK-12.0/Fwk_12_AnyCPU_debug/Fwk.Bases.Connector.dll
FWK-10.4/Fwk_10.4_x64_release/Fwk.UnitTest.dll
FWK-10.4/Fwk_10.4_x64_release/Fwk.Security.Service.Test.dll
FWK-10.4/Fwk_10.4_AnyCPU_release/ServiceMetadataConfig.xml
FWK-10.4/Fwk_10.4_AnyCPU_release/Newtonsoft.Json.dll
FWK-10.4/Fwk_10.4_AnyCPU_release/Microsoft.VisualStudio.DebuggerVisualizers.xml
FWK-10.4/Fwk_10.4_AnyCPU_release/Microsoft.Practices.ServiceLocation.dll
FWK-10.4/Fwk_10.4_AnyCPU_release/Microsoft.Practices.EnterpriseLibrary.Data.dll
FWK-10.4/Fwk_10.4_AnyCPU_release/Microsoft.Practices.EnterpriseLibrary.Common.dll
FWK-10.4/Fwk_10.4_AnyCPU_release/Fwk.UnitTest.dll
FWK-10.4/Fwk_10.4_AnyCPU_release/Fwk.Security.dll
FWK-10.4/Fwk_10.4_AnyCPU_release/Fwk.Security.Service.Test.dll
FWK-10.4/Fwk_10.4_AnyCPU_release/Fwk.DataBase.dll
FWK-10.4/Fwk_10.4_AnyCPU_release/Fwk.Blocking.Test.dll
FWK-10.4/Fwk_10.4_AnyCPU_release/Fwk.Bases.xml
FWK-10.4/Fwk_10.4_AnyCPU_release/Fwk.Bases.dll
FWK-10.4/Fwk_10.4_AnyCPU_release/Fwk.Bases.FrontEnd.dll
FWK-10.4/Fwk_10.4_AnyCPU_release/Fwk.Bases.Connector.xml
FWK-10.4/Fwk_10.4_AnyCPU_release/Fwk.Bases.Connector.dll
FWK-10.4/Fwk_10.4_AnyCPU_release/Fwk.Bases.Connector.XmlSerializers.dll
FWK-10.4/Fwk_10.4_AnyCPU_release/ConfigurationManager_02.xml
FWK-10.4/Fwk_10.4_AnyCPU_release/ConfigurationManager_01.xml
FWK-10.4/Fwk_10.4_AnyCPU_release/ConfigurationManager.xml
FWK-10.4/Fwk_10.4_AnyCPU_debug/Microsoft.VisualStudio.DebuggerVisualizers.xml
