<!-- edited with XMLSpy v2007 (http://www.altova.com) by pepe (pelsoft) -->
<configuration>
	<configSections>
		<section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral PublicKeyToken=null"/>
		<section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.414.0, Culture=neutral, PublicKeyToken=null" requirePermission="true"/>
	</configSections>
	<!--cachingConfiguration es donde se optiene la configuracion de caché. En este caso por Default IsolatedStorage(Disco), 
  De lo contrario NullStorage(Memoria))-->
	<cachingConfiguration defaultCacheManager="ServiceCache">
		<cacheManagers>
			<add expirationPollFrequencyInSeconds="120" maximumElementsInCacheBeforeScavenging="2000" numberToRemoveWhenScavenging="20" backingStoreName="IsolatedStorage" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=null" name="ServiceCache"/>
		</cacheManagers>
		<backingStores>
			<add partitionName="appDatos" encryptionProviderName="" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.IsolatedStorageBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral PublicKeyToken=null" name="IsolatedStorage"/>
		</backingStores>
	</cachingConfiguration>
	<connectionStrings>
		<add name="FwkSecurityConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=BigBang;Integrated Security=True" providerName="System.Data.SqlClient"/>
		<add name="telecom" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=bigbang;Persist Security Info = True;User ID=BigBang;Password=B1gB4ng+01" providerName="System.Data.SqlClient"/>
		<add name="Tesa" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=bigbang;Persist Security Info = True;Integrated Security=True" providerName="System.Data.SqlClient"/>
		<add name="muniexp" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=muniexp;Integrated Security=True" providerName="System.Data.SqlClient"/>
		<add name="PelsoftGastos" connectionString="Database=Gastos;Server=.\sqlexpress;Integrated Security=SSPI" providerName="System.Data.SqlClient"/>
		<add name="PelsoftGastos_my" connectionString="Database=Gastos_my;Server=.\sqlexpress;Integrated Security=SSPI" providerName="System.Data.SqlClient"/>
		<add name="dotnetnuke_5" connectionString="Database=DNN2;Server=.\sqlexpress;Integrated Security=SSPI" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.web>
		<roleManager defaultProvider="bigbang" enabled="true" cacheRolesInCookie="true" cookieName=".ASPROLES" cookieTimeout="30" cookiePath="/" cookieRequireSSL="false" cookieSlidingExpiration="true" cookieProtection="All">
			<providers>
				<add name="gastos" type="System.Web.Security.SqlRoleProvider" connectionStringName="PelsoftGastos" applicationName="PelsoftGastos"/>
				<add name="gastos_my" type="System.Web.Security.SqlRoleProvider" connectionStringName="PelsoftGastos_my" applicationName="PelsoftGastos"/>
				<add name="bigbang" type="System.Web.Security.SqlRoleProvider" connectionStringName="FwkSecurityConnectionString" applicationName="Bigbang"/>
				<add name="muniexp" type="System.Web.Security.SqlRoleProvider" connectionStringName="muniexp" applicationName="muniexp"/>
				<add name="dnn_5" type="System.Web.Security.SqlRoleProvider" connectionStringName="dotnetnuke_5" applicationName="dotnetnuke"/>
			</providers>
		</roleManager>
		<membership defaultProvider="bigbang" userIsOnlineTimeWindow="15">
			<providers>
				<add name="gastos" applicationName="PelsoftGastos" type="System.Web.Security.SqlMembershipProvider" connectionStringName="PelsoftGastos" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" passwordFormat="Hashed" minRequiredPasswordLength="3" minRequiredNonalphanumericCharacters="0"/>
				<add name="gastos_my" applicationName="PelsoftGastos" type="System.Web.Security.SqlMembershipProvider" connectionStringName="PelsoftGastos_my" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" passwordFormat="Hashed" minRequiredPasswordLength="3" minRequiredNonalphanumericCharacters="0"/>
				<add name="bigbang" applicationName="Bigbang" type="System.Web.Security.SqlMembershipProvider" connectionStringName="FwkSecurityConnectionString" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" passwordFormat="Hashed" minRequiredPasswordLength="3" minRequiredNonalphanumericCharacters="0"/>
				<add name="muniexp" applicationName="muniexp" type="System.Web.Security.SqlMembershipProvider" connectionStringName="muniexp" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" passwordFormat="Hashed" minRequiredPasswordLength="3" minRequiredNonalphanumericCharacters="0"/>
				<add name="dnn_5" applicationName="dotnetnuke" type="System.Web.Security.SqlMembershipProvider" connectionStringName="dotnetnuke_5" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" passwordFormat="Hashed" minRequiredPasswordLength="3" minRequiredNonalphanumericCharacters="0"/>
			</providers>
		</membership>
	</system.web>
</configuration>
