<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="FwkConfigProvider" type="Fwk.ConfigSection.ConfigProviderSection, Fwk.Bases"/>
    
  </configSections>
  <connectionStrings>
    <add name="test2" connectionString="Data Source=.\sqlexpress;Initial Catalog=fwktest;Persist Security Info = True;User ID=sa;Password=as"
      providerName="System.Data.SqlClient" />
    <add name="test" connectionString="Database=fwktest;Server=.\SQLEXPRESS;Integrated Security=SSPI"
      providerName="System.Data.SqlClient" />
    <add name="test44" connectionString="Data Source=SANTANA\SQLEXPRESS;Initial Catalog=fwktest;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Mails" connectionString="Data Source=SANTANA\SQLEXPRESS;Initial Catalog=mails;Integrated Security=True"
      providerName="System.Data.SqlClient" />
	  <add name="trazamed" connectionString="data source=SANTANA\SQLEXPRESS2008;initial catalog=trazamed;user id=sa;password=as;MultipleActiveResultSets=True"/>
  </connectionStrings>


  <!--Configuracion del los proveedores de  configuracion del frameworck -->
  <FwkConfigProvider defaultProviderName="localFile1">
    <Providers>
      <add name="localFile1" type="local" baseConfigFile="test/ConfigurationManager_01.xml" />
      <add name="Mails" type="sqldatabase" baseConfigFile="mails_config" sourceinfo ="Mails" />
      <add name="trazamed" type="sqldatabase" baseConfigFile="Meucci3BajasADService_testLogs" sourceinfo="trazamed" />
    </Providers>
  </FwkConfigProvider>
<startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
</startup><system.web>
    <trust level="Full" />
    <webControls clientScriptsLocation="/aspnet_client/{0}/{1}/" />
  </system.web>
</configuration>
